vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|06 Aug 2012 04:59:48 -0000
vti_author:SR|Don-PC\\Don
vti_modifiedby:SR|Don-PC\\Don
vti_nexttolasttimemodified:TW|06 Aug 2012 04:59:48 -0000
vti_timecreated:TR|21 Sep 2012 23:22:58 -0000
vti_cacheddtm:TX|21 Sep 2012 23:22:58 -0000
vti_filesize:IR|3179
vti_cachedlinkinfo:VX|S|../images/Topbkgrnd3.jpg S|../images/hdbkgrnd7.jpg
vti_cachedsvcrellinks:VX|FSUS|Mike-Update/images/Topbkgrnd3.jpg NSUS|Mike-Update/images/hdbkgrnd7.jpg
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Mike-Update/Curling.html Mike-Update/Default.php Mike-Update/Directions.html Mike-Update/PublicSessions.html Mike-Update/SkateLessons.html Mike-Update/SkateVideos.html Mike-Update/Birthdays.html Mike-Update/Calendar.html Mike-Update/Contact.html Mike-Update/About.html Mike-Update/BroomBall.html Mike-Update/Sponsorship.html
vti_syncofs_ftp.lloydcenterice.info\:21:TW|06 Aug 2012 04:59:48 -0000
vti_syncwith_ftp.lloydcenterice.info\:21:TW|21 Sep 2012 23:22:58 -0000
