vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|11 Apr 2012 20:42:00 -0000
vti_author:SR|Don-PC\\Don
vti_modifiedby:SR|Don-PC\\Don
vti_nexttolasttimemodified:TW|11 Apr 2012 20:42:00 -0000
vti_timecreated:TR|15 Jun 2012 22:22:17 -0000
vti_cacheddtm:TX|15 Jun 2012 22:22:17 -0000
vti_filesize:IR|552
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|MikeWork2.0/styles/style2.css MikeWork2.0/styles/style3.css MikeWork2.0/styles/style1.css
vti_syncwith_www.lloydcenterice.biz\:21/public_html:TW|15 Jun 2012 22:22:17 -0000
vti_syncofs_www.lloydcenterice.biz\:21/public_html:TW|11 Apr 2012 20:42:00 -0000
vti_syncofs_ftp.lloydcenterice.info\:21:TW|23 Jun 2012 21:20:02 -0000
vti_syncwith_ftp.lloydcenterice.info\:21:TX|15 Jun 2012 22:22:17 -0000
