vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|21 Nov 2012 07:29:51 -0000
vti_author:SR|Don-PC\\Don
vti_modifiedby:SR|Don-PC\\Don
vti_nexttolasttimemodified:TW|21 Nov 2012 07:29:51 -0000
vti_timecreated:TR|09 Dec 2012 21:07:54 -0000
vti_cacheddtm:TX|09 Dec 2012 21:07:54 -0000
vti_filesize:IR|6239
vti_cachedlinkinfo:VX|Q|../My\\ Web\\ Sites/lloydicerink/public_html/styles/layout.css S|../images/nav_bg2.jpg
vti_cachedsvcrellinks:VX|NQUS|My\\ Web\\ Sites/lloydicerink/public_html/styles/layout.css NSUS|images/nav_bg2.jpg
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_syncofs_ftp.lloydcenterice.info\:21:TW|21 Nov 2012 07:29:51 -0000
vti_syncwith_ftp.lloydcenterice.info\:21:TW|09 Dec 2012 21:07:54 -0000
